{% extends 'base.html.twig' %}

{% block title %}InnovaElectra Store
{% endblock %}

{% block body %}

	<h1 class="text-dark text-center store-mt-title fw-bold mt-5">InnovaElectra.</h1>

	<h2 class="text-secondary store-mt-title fw-bold mt-5">
		<span class="fw-bolder text-dark">Home.</span>
		Pour trouver vos
		<br>
		produits préférés, c’est ici.</h2>

	<div class="store-infos my-5">
		<div class="store-infos-display">
			<div>
				<i class="bi bi-person-fill-add"></i>
			</div>
			<div>
				<p class="fw-bold text-dark">Besoin d'aide pour faire vos achats ?</p>
				<a href="#">Contacter nos Spécialistes</a>
			</div>
		</div>
		<div class="store-infos-display">
			<div>
				<i class="bi bi-geo-alt-fill"></i>
			</div>
			<div>
				<p class="fw-bold text-dark">Se rendre dans un IE Store</p>
				<a href="#">Trouver un magasin à proximité ></a>
			</div>
		</div>
	</div>

	<div>
		<div class="row">
			{% for category in categories %}
				<div class="col-md-4">
					<div class="category mt-5">
						<a href="{{ path('category.products', {id: category.id}) }}" class="category-link text-center">
							<img src="{{ asset('assets/img/categories/' ~ category.image ) }}" alt="Categories Image" class="categories-img rounded">
							<h3 class="text-dark fw-bold mt-3">{{ category.title}}</h3>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="latest-products">
		<h2 class="text-secondary store-mt-title-2 fw-bold mt-5">
			<span class="fw-bold text-dark">Les dernières nouveautés.</span>
			Coup
			<br>
			d'oeil sur ce qui vient de sortir.</h2>

		<div class="row">
			{% for product in latestProducts %}
				<div class="col-md-12 col-lg-4">
					<div class="product">
						<a href="{{ path('product.details', {id: product.id}) }}" class="product-link">
							<div class="product-overlay">
								<h3>{{ product.title }}</h3>
								<p>À partir de
									{{ product.price|number_format(0, '', '') / 100 }}
									€</p>
							</div>
							<img src="{{ asset('assets/img/products/' ~ product.image ) }}" alt="" class="product-img">
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>


{% endblock %}